<h3>Blockchain Empowered - Car Database</h3>
<button (click) = "toggleString()">Toggle State</button>
Currently accessing {{ httpsString === 'http://localhost:8911' ? 'localhost' : 'AWS' }}
<br>
<br>
<button (click) = "getAllCars()">List All Cars</button>
<br>
<table class="table table-striped" *ngIf="cars$!== undefined && cars$.length > 0" >
	<tr>
		<th scope="col">Sr No</th>
		<th scope="col">Model</th>
		<th scope="col">Company</th>
		<th scope="col">Color</th>
		<th scope="col">Owner</th>
	</tr>
	<tr *ngFor="let item of cars$">
		<td>{{ item.Key }}</td>
		<td>{{ item.Record.model }}</td>
		<td>{{ item.Record.make }}</td>
		<td *ngIf="item.Record.colour != undefined">{{ item.Record.colour }}</td>
		<td *ngIf="item.Record.color != undefined">{{ item.Record.color }}</td>
		<td>{{ item.Record.owner }}</td>
	</tr>
</table>

<br>
<br>

<br>
<h3>Enter Car index:</h3>
<input [(ngModel)]="carIdx">
<br>
<button (click) = "getCarByIndex(carIdx)">Get Car by Index</button>
<br>
<table *ngIf="currentCar$ !== undefined" class="table table-striped">
	<tr>
		<th scope="col">Model</th>
		<th scope="col">Company</th>
		<th scope="col">Color</th>
		<th scope="col">Owner</th>
	</tr>
	<tr>
		<td *ngIf="currentCar$.model !== undefined">{{ currentCar$.model }}</td>
		<td *ngIf="currentCar$.make !== undefined">{{ currentCar$.make }}</td>
		<td *ngIf="currentCar$.colour != undefined">{{ currentCar$.colour }}</td>
		<td *ngIf="currentCar$.color != undefined">{{ currentCar$.color }}</td>
		<td *ngIf="currentCar$.owner !== undefined">{{ currentCar$.owner }}</td>
	</tr>
</table>